h1#site-title {
  color: mediumvioletred;
  font-family: Georgia, serif;
  font-size: 72px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h1#article-title {
font-size: 48px;
color: mediumvioletred;
}

h2 {
  font-size: 32px;
  color: mediumvioletred;
  align-content: center;
}

h3 {
  font-size: 32px;
  color: mediumvioletred;
  float: left;
  align-content: center;
}

p {
  background: #ffffff;
  font-family: Georgia, serif;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  padding: 5px;
}

figure img {
  max-width: 100%;
  height: auto;
  align: center;
}

figure.main-image {
background: PaleVioletRed;
border-color: mediumvioletred;
}

@media all and (min-width: 768px) {
  figure.section-image {
  margin-bottom: 32px;
  max-width: 320px;
  }
}


figure.section-image.odd {
  float: left;
  margin-right: 20px;
}

figure.section-image.even {
  float: right;
  margin-left: 20px;
}



nav ul {
  list-style: none;
  padding-left: 0;
  border-top: : 1px solid mediumvioletred;
  border-bottom: 1px solid mediumvioletred;

}

@media all and (min-width: 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li {

}

nav ul li a {
  color: mediumvioletred;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid mediumvioletred;
  padding-bottom: : 9 px;
}

footer nav {

}

footer nav ul li a {
  color: #ffffff;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  background-color: #A1116B;
  color: #ffffff;
}
